<section>
  <div class="coantainer-fluid">
    <div class="row">
      <div class="col-lg-3">

          <table id="submittable">
            <tr>
              <td>
                <label for="select state" class="h6">Select State</label>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control"  id="state" (change)="statechanged($event)">
                  <option value="">Select State</option>
                  <option *ngFor="let s of states" let i = index value="{{s.id}}">{{s.state}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="select state" class="h6">Select Division</label>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control"  (change)="divchange($event)"  id="division">
                  <option value="">Select division</option>
                  <option *ngFor="let d of division" let i = index value="{{d.divCode}}" >{{d.division}}</option>

                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="select state" class="h6">Select District</label>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control"  (change)="distchange($event)"  id="district">
                  <option value="">Select district</option>

                  <option *ngFor="let d of districts" let i = index value="{{d.id}}" >{{d.district}}</option>



                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="select state" class="h6">Select Taluka</label>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control"  (change)="talukachange($event)" id="taluka">
                  <option value="">Select Taluka</option>
                  <option *ngFor="let t of taluka" let i = index value="{{t.id}}" >{{t.taluka}}</option>


                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="select state" class="h6">Select Village</label>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control" id="village">
                  <option value="">Select Village</option>
                  <option *ngFor="let v of village; let i = index" value="{{v.id}}" >{{v.name}}</option>

                </select>
              </td>
            </tr>

           <tr >
            <td> <button id="clr" class="btn btn-danger" type="reset">Clear</button>
              <button id="btn"  class="btn btn-success"  type="submit" (click)="save()">Submit</button>
            </td>

           </tr>
          </table>

      </div>

      <div class="col-lg-9">

         <table class=" table table-striped"  id="tabledata">
           <th>SrNo</th>
           <th>State</th>
           <th>Division</th>
           <th>District</th>
           <th>Taluka</th>
           <th>Village</th>
           <th>Edit/Delete</th>

            <tr>
              <td>1</td>
              <td></td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>
                <button type="button" class="btn btn-primary"> <i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger ml-3"> <i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>



            </tr>

         </table>


      </div>
    </div>

  </div>
</section>
